@import 'styles/core/variables.css';
@import 'styles/core/global.css';
@import 'styles/core/page.css';
@import 'styles/core/header.css';
@import 'styles/core/aside.css';
@import 'styles/core/main.css';
@import 'styles/core/footer.css';
@import 'styles/core/content.css';
@import 'styles/core/form.css';
@import 'styles/core/buttons.css';
