.footer {
  --color-tertiary-gray: #efefef;
  padding: 1rem;
}

.footer__copy {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--color-tertiary-gray-light);
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-primary);
}
