.form {
  display: grid;
  gap: 1rem;
  max-width: 500px;
  padding: 1rem;
}

.form__group-wrapper {
  display: grid;
  gap: 0.4rem;
}

.form__group {
  display: grid;
}

.form__label {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-primary-black);
}

.form__label--required::after {
  margin-left: 4px;
  color: var(--color-secondary-orange);
  content: '*';
}

.form__input {
  --font-size-base: 14px;
  --font-weight-base: 500;
  --font-weight-bold: 600;
  --field-background-color-base: var(--color-tertiary-gray-light);
  --field-background-color-hover: var(--color-tertiary-gray);
  --field-background-color-focus: var(--color-tertiary-gray-ultra-light);
  --field-box-shadow-focus:
    -1px -1px 3px rgba(var(--color-rgb-white), 0.25),
    1px 1px 3px rgba(var(--color-rgb-blue), 0.4),
    inset -1px -1px 1px rgba(var(--color-rgb-white), 0.7),
    inset 1px 1px 2px rgba(var(--color-rgb-blue), 0.2);
  width: 100%;
  height: 40px;
  padding: 0 16px;
  margin-bottom: 4px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  color: var(--color-primary-black);
  background-color: var(--field-background-color-base);
  border: none;
  border-radius: var(--border-radius-base);
  box-shadow: var(--field-box-shadow-base);
  appearance: textfield;
}

.form__input:focus {
  background-color: var(--field-background-color-focus);
  outline: none;
  box-shadow: var(--field-box-shadow-focus);
}

.form__input:hover {
  background-color: var(--field-background-color-hover);
  box-shadow: var(--field-box-shadow-base);
}

.form__error {
  height: 1rem;
  font-size: 0.7rem;
  line-height: 1rem;
  color: var(--color-secondary-orange);
}

.form__button {
  justify-self: start;
}
