.image-box-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
}

.image-box {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  gap: 1rem;
  width: 100%;
  min-height: 200px;
  padding: 1rem;
  background-color: var(--color-tertiary-gray-light);
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-primary);
}

.image-box__title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-primary-black);
}

.image-box__file-wrapper {
  display: grid;
  gap: 0.8rem;
  align-items: flex-end;
}

.image-box__file {
  --box-shadow-pressed: -1px -1px 3px rgba(var(--color-rgb-white), 0.25), 1px 1px 3px rgba(var(--color-rgb-blue), 0.4);
  display: grid;
  grid-template-rows: 20px;
  grid-template-columns: 20px 1fr 20px;
  gap: 0.5rem;
  align-items: center;
  padding: 8px;
  background-color: var(--color-tertiary-gray);
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-pressed);
}

.image-box__file-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.image-box__file-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
}

.image-box__file-button-icon {
  display: block;
  width: 20px;
  height: 20px;
  color: var(--color-primary-blue);
}
