.pagination {
  --color-tertiary-gray: #efefef;
  --pagination-color-base: var(--color-primary-blue);
  font-size: 1rem;
}

.pagination__list {
  display: flex;
  grid-gap: 0.5rem;
  padding: 0;
  margin: 0;
  margin-top: 1.4em;
  list-style: none;
}

.pagination__button {
  display: flex;
  grid-row: 1;
  align-items: center;
  justify-content: center;
  min-width: 2.5em;
  height: 2.5em;
  padding: 0.7em;
  margin: 0;
  font-weight: 500;
  line-height: 1;
  color: var(--pagination-color-base);
  cursor: pointer;
  background-color: var(--color-tertiary-gray);
  border: none;
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-primary);
}
