.table {
  display: grid;
}

.table__wrapper {
  overflow-x: auto;
}

.table__inner {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  padding: 1rem 0;
}

.table__inner::before {
  display: block;
  grid-column: 1 / 2;
  content: '';
}

.table__inner::after {
  display: block;
  grid-column: 3 / 4;
  content: '';
}

.table table {
  grid-column: 2 / 3;
  margin-bottom: 1rem;
  vertical-align: top;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: var(--color-tertiary-gray-light);
  border: 1rem solid transparent;
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-primary);
}

.table th {
  min-width: 120px;
}

.table th:first-child {
  min-width: 80px;
}

.table tr,
.table th,
.table td {
  white-space: nowrap;
  border-color: var(--color-primary-black);
  border-style: solid;
}

.table th,
.table td {
  padding: 0.5em;
  border-width: 0 1px;
}

.table tr {
  border-width: 1px 0;
}

.table__buttons {
  display: grid;
  grid-template-columns: 2rem 2rem;
  gap: 2px;
}

.table__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 0;
  border-color: transparent;
}

.table__button--open {
  color: var(--color-primary-blue);
}

.table__button--delete {
  color: var(--color-primary);
}

.table__button-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.table__button--open .table__button-icon {
  width: 80%;
  height: 80%;
}
